doctype html
html
  head
    title Hello, Vue
    link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    link(rel="stylesheet" href="css/vendor.css")
    link(rel="stylesheet" href="css/app.css")
  body
    #app
      router-view
    script(src="js/app.js")
